{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-react-jsx",
    "security"
  ],
  "extends": [
    "plugin:security/recommended"
  ]
}
