.appBody {
  padding-left: 2em;
  padding-right: 2em;
}

.logo {
  max-width: 4em;
  height: 4em;
}

.greeting {
  margin-top: 100px !important;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.greeting h1 {
  margin-left: .5em;
}

.homeLink:link, .homeLink:visited {
  color: #555 !important;
}

.homeLink:hover {
  text-shadow: 2px 2px 8px #555;
}

/* * {
  border: 0.25px solid green;
} */

#headCtnr {
  margin-left: 2em;
  margin-right: 2em;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}
